@tailwind base;
@tailwind components;
@tailwind utilities;


body,html,#root{
    padding:0;
    margin:0;
    box-sizing: border-box;
    background-color: #F2F2F3;
    position:relative
}

.scrollbar::-webkit-scrollbar {
    display:none;
}

